.ShoppingHeader{
    width: 100%;
    height: 0.87rem;
    position: fixed;
    top: 0;
    background-color: #fff;
}
.ShoppingHeader>div{
    width: 90%;
    display: flex;
    height: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    line-height: 0.87rem;
}
.ShoppingHeader>div span{
    font-size: 0.3rem
}
.ShoppingHeader>div i{
    font-size: 0.6rem
}
.ShoppingBlack{
    height: 0.87rem;
}
.ShoppingShop{
    width: 90%;
    height: 2.23rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    border-radius:0.1rem 0.1rem 0.1rem 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.ShoppingShop .border{
     display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 1.53rem;
    margin-bottom: 0.4rem;
}
.ShoppingShop .border .circle{
    width: 0.56rem;
    height: 0.56rem;
    border-radius: 50%;
    border: 0.01rem solid #c9c9c9;
}
.ShoppingShop .border .picture{
    height: 1.53rem;
    width: 33%;
    
}
.ShoppingShop .border .picture img{
    height: 100%;
    width: 100%;
}
.ShoppingShop .border .text{
    width: 44%;
    line-height: 0.4rem;
}
.ShoppingShop .border .text p{
    width: 42%;
    color: #f22e2e;
    font-size: 0.32rem;
     
} 
.ShoppingShop .border .text span{
    /* font-size: 0.3rem; */
    width: 42%;
    text-align: left !important;
    font-size: 0.2rem;
    
} 
.ShoppingFooter{
    height: 1.17rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    bottom: 0;
}
.ShoppingFooter .first{
    /* line-height: 1.17rem; */
    width: 24%;
    display: flex;
    padding: 0 0.3rem;
    align-items: center;
}
.ShoppingFooter .first .circle{
      width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 0.01rem solid #c9c9c9;
    
}
.ShoppingFooter .first p{
    padding: 0 0.1rem;
    color: #72787e;
    font-size: 0.3rem;
}
.ShoppingFooter .second{
    /* line-height: 1.17rem; */
    width: 34%;
        padding-right: 0.3rem;
}
.ShoppingFooter .second p{
    color: #1c252d;
    font-size: 0.3rem;
    font-weight: 600;
}
.ShoppingFooter .third{
    line-height: 0.7rem;
    width: 40%;
        padding:0 0.3rem;
}
.ShoppingFooter .third p{
    font-size: 0.3rem;
    background-color: #f01414;
    border-radius: 0.5rem 0.5rem ;
    color: #fff;
}

